body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #50514F;
  background-color: #EFEEDC;
}

p, a {
  font-size: 17px;
  color: #50514F;
}

.header {
  padding: 30px 60px 10px 60px;
  margin: -20px -10px 0 -10px;
  background-color: #de6344;
  color: #EFEEDC;
  font-weight: 700;
  text-align: center;
}

.content {
  margin: 10px 100px 10px 100px;
}

.container {
  width: 100%;
  height: 500px;
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: #50514F;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 3px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: #b0d5c3;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

footer {
  background-color: #de6344;
  text-align: center;
  padding: 5px 0 5px 0;
  margin: 20px -10px -30px -10px;
}

footer p, footer a {
  color: #EFEEDC;
}
